<p><img src="{{url_for('static', filename='netcloud.png')}}"  alt="" width="150" height="40" /></strong></p>
<p style="padding-left: 30px;"><h1>Willkommen Netcloud Sales Team</h1></p>
    
<p style="padding-left: 30px;"><strong>Ich hoffe, ich konnte einen kleinen Einblick in die Welt der Container und Openshift geben.&nbsp;</strong></p>
<p style="padding-left: 30px;">&nbsp;</p>
<p style="padding-left: 30px;"><strong>Wenn ihr weitere Fragen habt wendet euch an <a href="mailto:ecs@netcloud">ecs@netcloud.ch </a></strong></p>
<p style="padding-left: 30px;"><strong>oder direkt an Ruben oder Daniel&nbsp;</strong></p>
